:root {
    --transparent: #00000000;
    --container: #0a3547;
    --content: #1b4458;
}
* {
    color: white;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: #051b25;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
button  {
    padding: 5px 15px;
    max-width: fit-content;
    align-self: center;
    background-color: #e2ad00;
    font-weight: bold;
    border: solid var(--transparent);
    border-radius: 10px;
}
.grid > *, .result, .display {
    border: 2px white solid;
    background-color: var(--container);
}
/*dialog view*/
::backdrop {
    backdrop-filter: blur(15px);
}
dialog {
    font-size: 25px;
    background-color: var(--container);
}
form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
fieldset {
    text-align: center;
    border-top: var(--transparent) solid;
    border-left: var(--transparent) solid;
    border-right: var(--transparent) solid;
}
legend {
    font-weight: bold;
}
label[for="player-2"], #o {
    margin-left: 20px;
}
input[type="text"] {
    background-color: var(--content);
    border: 2px solid white;
}
input[type="text"]:focus {
    outline: 1px solid white;
}
input[type="radio"] {
    border: 0px;
    width: 20px;
    height: 20px;
}
/*table view*/
table {
    background-color: white;
}
td {
    min-width: 100px;
    text-align: center;
    font-size: 25px;
    padding: 5px 5px;
}
thead {
    background-color: var(--container);
    font-weight: bold;
}
tbody {
    background-color: var(--content);
}
/*grid view*/
.grid {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    height: fit-content;
    width: fit-content;
}
.grid > * {
    background-color: var(--container);
    height: 150px;
    width: 150px;
    font-size: 125px;
    text-align: center;
}
/*result view*/
.result {
    font-size: 30px;
    width: fit-content;
    height: 110px;
    padding: 20px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
p {
    margin: 0 0 15px;
}
.display {
    background-color: var(--content);
    min-width: 375px;
    min-height: 40px;
    width: fit-content;
    height: fit-content;
}