/*body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    height: fit-content;
    width: fit-content;
}
.grid > * {
    border: 2px black solid;
    height: 250px;
    width: 250px;
    font-size: 100px;
}*/